*.bc
*.cmake
*.dSYM
*.done
*.final
*.gcda
*.gcno
*.i
*.la
*.lo
*.log
*.mem
*.nexe
*.o
*.plist
*.s
*.scan
*.sdf
*.status
*.tar.*
*.wasm
*.wast
*~
.DS_Store
.deps
.dirstamp
.done
.libs
#.directory
/bin/
/obj/
